.project
.idea
*.iml
target
.svn

.classpath
.settings/
config/**
browser/FirefoxUbuntu64/**
browser/GoogleChromePortableUbuntu64/**
build/**
build/**/**
build/browser/**
build/browser
build/config
build/drivers
build/lib
build/*.jar
build/*.bat
build/*.sh
build/excel/~*.xlsx
excel/~*.xlsx
meta-files/
Reports/
Assets/screenshots/
